<div class="material">
	        <div class="inftitle">Статистика форума</div>
	   <div class="infcont">
	        Всего создано <b>{{ count_themes }}</b> тем, в которые добавлено <b>{{ count_posts }}</b> ответов.<br>Зарегистрировано <b>{{ count_users }}</b> участников. Приветствуем нового участника <b>{{ new_user }}</b>.
			<br />
			Максимум пользователей online <strong>{{ max_online_all_time }}</strong>. Было это <strong>{{ AtmDate(max_online_all_time_date) }}</strong>
	   </div>
	       <div class="inftitle">Сегодня родились: {{ today_born_users }}</div>
</div>

