html, body {padding:0px; margin:0px; color:#000000;font-family:Corbel; font-size: 12px;}
a {color:#008FFF; text-decoration:none;}
html {width:100%; height:100%;}
body {width:100%; height:100%; background: #ECECEC;}


#head {width:100%; height: 30px; background: #333; position: fixed;top: 0;z-index: 2;}
#logo {width: 100%; height: 130px;   margin: 0;background: url('../img/install-logo.png') center no-repeat; position:relative;}
#newv {float:right; color:#E90E0E; font-family:Corbel; font-style:italic;margin-bottom: 10px;}
#newv a {float:right; color:#E90E0E; font-family:Corbel; font-style:italic;}

#progressbar {width: 100%; height: 26px; margin: 0; top: 2px; position:relative;padding: 0;}
#progressbar li {display:block; width: 4%; height: 26px; float:left;  }
#progressbar li.act {display:block;  height: 26px; float:left; background: #888; }


#container {width: 80%;min-width: 1000px; height: 100%; margin: 0 auto;  background: #F5F5F5; position: relative;}
a#begin, .btn {display: inline-block; position: absolute; border: none;cursor: pointer;top: 0;  right: 0;left: 60%;bottom: 0;margin: auto; text-decoration:none; width: 190px;height: 40px;color: #ffffff;  line-height: 40px;font-size: 24px;text-align: center;text-shadow: 0 1px 0 #1969e8;  background-color: #4b8cf7;  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
#descr, .finblock {width: 58%; padding:15px; left: 0;top: 30px;bottom: 30px;height: auto;overflow-x: hidden;overflow-y: auto;margin: 0;  background: #FFF; position: absolute; font-size: 15px;color: #333;}

.finblock {width: 100%; display:block;padding: 0;}

h3{margin: 3px 0;}

ul {padding: 0;margin: 0;list-style: none;}
ul li {}
ul li > span {min-width: 35%;display: inline-block;}

.inp {  margin:5px;   width: auto;}
.inp  input { background: #fff;  border-radius: 3px;   height: 25px;  padding: 0 7px; border: 1px solid #519DFF;  box-shadow: inset 0 2px 3px #CBD6FF;  -moz-box-shadow: inset 0 2px 3px #CBD6FF;  -webkit-box-shadow: inset 0 2px 3px #CBD6FF;}

.bd-zaprosy {color: #62AEFF;font-size: 10px;line-height: 10px;margin-left: 33%;}


#queries, #checkAccess, #checkServer, #SQLserver, #SQLbase, #SQLuser, #SQLpass, #SQLpref {font-size:13px !important;}
.finish {text-align: center;margin: 50px 0;}
.fin-a:hover, .fin-b:hover, a#begin:hover, .btn:hover {background: #3884FF;}
.fin-h {color: #0099FF; margin-bottom:7px;}
.fin-a, .fin-b {display:inline-block; text-decoration:none; margin: 10px;padding: 0 10px;width: auto;height: 40px;color: #ffffff;  line-height: 40px;font-size: 24px;text-align: center;text-shadow: 0 1px 0 #1969e8;  background-color: #4b8cf7;  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);  background-image: linear-gradient(to bottom, #4d90fe, #4787ed);border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}

.help {color:#E90E0E; font-size:13px;}

#footer { margin: 0;  width: 100%;z-index:10; height: 30px; bottom: 0; background: #333; position: fixed;}
#footer a {text-transform:uppercase; margin: 0 10px; height: 30px;line-height: 30px;display: inline-block;color: #B8B8B8; font-size: 16px;font-family: Arial;}
#footer a:hover {color: #FFF;}


