<div class="header">
   <div class="logohead"></div>
   <div class="infohead">
     <div class="infoblock">
	   <div class="download">
	     <a class="downloadbutton" href="https://bitbucket.org/atom-m/cms/get/current.zip" target="_blank" rel="nofollow">
		   <div><div class="nameload">DOWNLOAD ATOM-M</div>
		   <div class="infoload">FILE IS 4.7MB(.ZIP)</div></div>
		 </a>
	     <a class="ahother" href="https://bitbucket.org/atom-m/cms/downloads" rel="nofollow">Cкачать другие версии Atom-M</a>
	     <a class="knownot" href="https://bitbucket.org/atom-m/cms/wiki/%D0%A3%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0_%D0%B8_%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5#markdown-header-_1" rel="nofollow">Не знаете как установить?</a>
	   </div>
	   <div class="info1"><b>Atom-M CMS</b> - Это инструмент для создания сайтов любой сложности, людьми не имеющими профессиональных навыков. Множество готовых шаблонов позволят выбрать вам подходящий дизайн. И это все абсолютно БЕСПЛАТНО!</div>
	   <div class="info2">
	   <div class="l">
	   50+<br>
	   15+<br>
	   5000+<br>
	   5 лет<br>
	   100+
	   </div>
	   <div class="r">
	   Шаблонов<br>
	   Модулей<br>
	   Пользователей<br>
	   Разработки<br>
	   Дополнений
	   </div>
	   </div>
	 </div>
	 <div class="sots">
	   <a href="https://bitbucket.org/atom-m/cms/wiki/">ДОКУМЕНТАЦИЯ</a>
	   <a href="https://bitbucket.org/atom-m-templates">ШАБЛОНЫ</a>
	   <a href="https://bitbucket.org/atom-m/cms/wiki/%D0%A1%D0%B1%D0%BE%D1%80%D0%BD%D0%B8%D0%BA_%D1%81%D0%BD%D0%B8%D0%BF%D0%BF%D0%B5%D1%82%D0%BE%D0%B2/">СНИППЕТЫ</a>
	   <a href="https://bitbucket.org/atom-m-plugins">ПЛАГИНЫ</a>
	 </div>
   </div>
</div>