<div class="messegesokno" id="ochat">
    <span class="headfutbutton">
        <span id="switchsound"></span>
        <div class="show_chat" onclick="show_chat()">Развернуть чат</div>
        <div class="hide_chat" onclick="hide_chat()" style="display: none">Свернуть</div>
    </span>
    <div onclick="show_chat()">
        {{ fps_chat }}
    </div>
</div>