<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='author' content='Andrey Brykin' />
<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ template_path }}/img/apple-touch-icon.png" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>

<script type="text/javascript" src="{{ template_path }}/js/default.js"></script>

{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->

{% if fps_user_id %}<script>check_pm();</script>{% endif %}
</head>


<body>
{% include '../includes/headpanel.html' %}
<div class="global">
{% include '../includes/header.html' %}

<div class="sider">
    <div class="sidertop bigmenu">
	  {{ mainmenu }}
	  <div class="search">
	   <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
        <input name="search" placeholder="Найти что-нибудь..." type="text"> 
        <input value="GO!" type="submit" name="send"> 
       </form> 
	  </div>
	</div>
	<!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
    <div class="content">
<div class="spedbar">
    <div>
        <div>{{ navigation }}</div>
    </div>
</div>
{% if add_link %}<a href="{{ www_root }}/foto/add_form/" class="lastpostsbutton button">Добавить фотографию</a>{% endif %}
<div style="clear:both;"></div>
<div class="materials" id="full">
	    {% if pagination %}<div class="mezdyblock"><span class="meta">{{ meta }}</span><div class="paginator"><div class="pages">{{ pagination }}</div></div></div>{% endif %}
		{{ content }}
		{% if pagination %}<div class="mezdyblock"><div class="paginator"><div class="pages">{{ pagination }}</div></div></div>{% endif %}
        {{ comments }}
        {{ comments_form }}
        {% if categories %}<div class="material"><div class="inftitle">Категории:</div><div class="infcont"><ul>{{ categories }}</ul></div></div>{% endif %}
</div>
	
	<div class="material">
           <div class="inftitle">Сейчас online: {{ all_online }}. Зарегистрированных: {{ users_online }}. Гостей: {{ guests_online }}. </div>
	       <div class="infcont">{{ online_users_list }}</div>
	    </div>
	</div>
	<!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------CHAT----------------------------------------------------------------------------------------------------------------------------->
{% if fps_chat %}
{% include '../includes/minichat.html' %}
{% endif %}
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
{% include '../includes/footer.html' %}
</div>
</body>
</html>