<div class="block">
<div class="blockstop">Опрос</div>
<div class="blokscontent pl_votes">
<div id="vote_cont">
	<p style="text-align:center;font-weight: bold;">{{ pl.title }}</p>
	<div class="vote_answers">
    {% for vote in pl.votes %}
       {{ vote.id }}&nbsp;<span title="Голосов: {{ vote.cnt_ansv }} ({{ vote.persents }}%)">{{ vote.name }}</span>
       <div class="vote_line" style="height:6px;width:{{ vote.persents }}%; background:#{{ vote.color }}; margin:3px 0;"></div>
    {% endfor %}
    </div>
	<div style="text-align:center;">Всего проголосовавших: {{ pl.all_votes_cnt }}</div>
</div>
</div>
</div>
<script type="text/javascript">
function setPoint() {}
</script>